body {
  font-family: "Roboto", "Open Sans", sans serif;
  font-size: 16px;
  color: #fff;
  background-color: #849d8f;
}
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  background-color: #f26843;
  background-image: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 1px 1px #ac1000;
  cursor: pointer;
}
.btn:hover {
  background-color: #ed705e;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.btn:active {
  background-color: #ed705e;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.field {
  display: block;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #fff;
  padding-left: 15px;
  box-sizing: border-box;
}
.field:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}
.field:focus{
  border: solid 2px rgba(46, 136, 228, 0.52);
  outline: none;
}


/*Header*/

.main-header-wrapper {
  min-height: 70px;
  margin-left: 27px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 10;
}
.containter {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  /*border: 2px solid #323232;*/
}

.logo {
  width: 153px;
  height: 65px;
  border: none;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  line-height: 32px;
  max-width: 700px;
  margin-left: -20px;
}

.nav-item {
  margin-right: 10px;
  padding: 0 10px;
}
.nav-item:hover {
  background-color: #f7f6f3;
  border-radius: 20px;
  color: #323232;
}
.nav-item:hover a{
  color: #323232;
}

.nav-item a{
  font-weight: bold;
  font-size: 16px;
  color: white;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

 .nav-item:first-child:hover .catalog-nav-list {
  display: block;
 }
.nav-item a:hover {
   color: #323232;
}
.active {
  background-color: #d07058;
  border-radius: 20px;
}
.active a {
 border: none;
}

.catalog-nav-list {
  display: none;
  list-style: none;
  min-width: 143px;
  position: absolute;
  top: 26px;
  left: 40px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  cursor: pointer;
}

.catalog-nav-list a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  border: none;
}
.catalog-nav-item {
  padding-left: 20px;
  border-bottom: 10px;
  background-color: #f8f7f4;
}
.catalog-nav-item:first-child a{
  font-weight: bold;

}
.catalog-nav-list:first-child {
  box-shadow: 0 6px 0 -5px #cacac7;
}
.catalog-nav-item:first-child{
  box-shadow: 10px 6px 0 -5px #cacac7;
  padding: 3px 20px;
  border-radius: 5px 5px 0 0;
}
.catalog-nav-item:last-child {
  padding-bottom: 5px;
  border-radius: 0 0 5px 5px;
}
.catalog-nav-list li:hover {
  background-color: #fbded7;
}

.catalog-nav-list li:active {
  background-color: #f6b5a5;
}

.catalog-nav-list li:visited {
  background-color: #d07058;
}

.search-button {
  position: relative;
  background: rgba(255,255,255, 0.2);
  min-width: 33px;
  min-height: 33px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}
.search-button::before {
  content: "";
  background: url("../img/search.svg") no-repeat;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 21px;
  height: 19px;
}

.search-button:hover:before {
  background: url("../img/search-active.svg") no-repeat;
}
.search-button:hover,
.user-nav-button:hover,
.cart:hover{
  background-color: #f7f6f3;
  color: #323232;
}
.search-area {
  display: none;
  position: absolute;
  top: 50px;
  right: 255px;
  width: 341px;
  height: 84px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-field {
  width: 311px;
  height: 44px;
  margin: 20px auto;
}

.search-button:hover +.search-area,
.search-button:focus +.search-area,
.search-area:hover,
.search-area:focus-within{
  display: block;
}

.user-nav {
  display: none;
  min-width: 277px;
  min-height: 214px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 150px;
}
.user-nav a {
  display: block;
  font-size: 13px;
  color: #323232;
  text-decoration: underline;
  margin-left: 140px;
  padding: 2px;

}
.user-nav-form {
  display:block;
}
.email-field,
.password-field{
  width: 241px;
  height: 44px;
  margin: 15px auto;
}
.password-field {
  margin-bottom: 25px;
}
.login-button {
  position: absolute;
  top: 125px;
  min-width: 100px;
  min-height: 44px;
  margin-left: 15px;
  margin-top: 15px;
}
.user-nav-button  {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background: rgba(255,255,255, 0.2);
  position: relative;
  border-radius: 20px;
  padding-left: 33px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 93px;
  height: 33px;
  cursor: pointer;
}
.user-nav-button::before {
  content: "";
  background: url("../img/signin.svg") no-repeat;
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
}

.user-nav-button:hover:before {
  background: url("../img/signin-active.svg") no-repeat;
  color: #323232;
}
.user-nav-button:hover +.user-nav,
.user-nav-button:focus +.user-nav,
.user-nav:hover,
.user-nav:focus-within{
  display: block;
}
.cart {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  background: rgba(255,255,255, 0.2);
  margin-left: 10px;
  margin-right: 25px;
  padding-left: 30px;
  border-radius: 20px;
  min-width: 100px;
  height: 33px;
  cursor: pointer;
}
.cart::before {
  content: "";
  background: url("../img/basket.svg") no-repeat;
  position: absolute;
  left: 15px;
  top: 7px;
  width: 21px;
  height: 19px;
}

.cart:hover:before {
  background: url("../img/basket-active.svg") no-repeat;
  color: #323232;
}
.cart-active {
  width: 117px;
  background-color: #f7f6f3;
  font-weight: 500;
  color: #323232;
  cursor: pointer;
}
.cart-active:before {
  content: "";
  background: url("../img/basket-active.svg") no-repeat;
}
.cart-active:hover +.cart-full,
.cart-active:focus +.cart-full,
.cart-full:hover,
.cart-full:focus-within{
  display: block;
}

.opening-hours {
  position: absolute;
  right: 1px;
  top: 55px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}

.opening-hours a{
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  color: #fff;
}
.opening-hours a:hover{
  color: #ffbc9e
}

/*Main*/
.main-content {

}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 }
 .breadcrumbs-item {
  position: relative;
 }
.breadcrumbs-item a{
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  margin-right: 20px;
  color: #fff;
}
.breadcrumbs-item a:hover{
  color: #ffbc9e;
}

.breadcrumbs-item:not(:last-child):after {
  content: "»";
  left: 60px;
  position: absolute;
}

.breadcrumbs-item [href] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs-item:last-child a:hover{
  color: #fff;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  margin-top: -350px;
}

.first-promo {
  background-image: url("../img/raspberries-bg.jpg");
  background-color: #DC143C;
  position: relative;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  margin-right: 27px;

}
.second-promo {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-color: #904101;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
}

.first-promo .title ,
.second-promo .title  {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 10px 0;
  padding-left: 20px;
  padding-top: 0;
}
.first-promo p,
.second-promo p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;

}
.promo-button {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 3%;
  color: #fff;
  font-size: 18px;
  padding: 12px 26px;
}

.features {
  background: #eeecca url("../img/wafer-bg.jpg") no-repeat;
  width: 1146px;
  min-height: 306px;
  border-radius: 15px;
  font-size: 16px;
  color: #323232;
  margin-top: -20px;
  margin-bottom: 40px;
}

.features p{
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 30px;

}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-item {
  width: 480px;
  margin-bottom: 28px;
  position: relative;
}

.icecream::before{
  content: "";
  background: url("../img/icecream.svg") no-repeat;
  position: absolute;
  top: -20px;
  left: -60px;
  width: 49px;
  height: 49px;

}

.leaf:before {
  content: "";
  background: url("../img/leaf.svg") no-repeat;
  position: absolute;
  top: -20px;
  left: -60px;
  width: 49px;
  height: 49px;
}

.cow:before {
  content: "";
  background: url("../img/cow.svg") no-repeat;
  position: absolute;
  top: -20px;
  left: -60px;
  width: 49px;
  height: 49px;
}

.termometr:before {
  content: "";
  background: url("../img/termometr.svg") no-repeat;
  position: absolute;
  top: -20px;
  left: -60px;
  width: 49px;
  height: 49px;
}

.goods-filter {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
.filter-field {
  border: none ;
}
.filter-title {
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
}
.filter-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select {
  min-width: 194px;
  min-height: 37px;
  position: relative;
  padding: 9px 15px;
}

.filter-select {
  background: none;
  font-weight: 500;
  color: #f8f7f4;
}
.filter-select select{

}
.filter-select option {
  font-size: 14px;
  font-weight: 500;
  color: #000;


}
.filter-select:active,
.filter-select:focus{

}
.select-icon {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 11px;
  height: 10px;
  fill: #f8f7f4;
}
.select-icon:active,
.select-icon:active {
  fill: #000;
  width: 9px;
  height: 5px;

}

.filter-price {

}
.range-filter {
  min-width: 220px;
}
.toggle {
  content: "";
  background: url("../img/toggle.svg") no-repeat;
  position: absolute;
  top: 8px;
  left: 10px;
  width: 20px;
  height: 22px;
  cursor: pointer;
}
.range-controls {
  position: relative;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 20px;
}
.range-controls .scale {
  width: 220px;
  height: 4px;
  margin-left: -20px;
  opacity: 0.5;
  background-color: #f8f7f4;
}
.range-controls .bar {
  height: 4px;
  width: 50%;
  opacity: 1;
  background-color: #fff;
}
.range-controls .toggle-min{
  left: 37px;
}
.range-controls .toggle-max {
  left: 133px;
}

.fat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 415px;
  min-height: 37px;
  position: relative;
  padding: 0 15px;
  font-weight: 500;
}

.radio-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio {
  cursor: pointer;
}
.radio-button{
  width: 25px;
  height: 25px;
  top: 5px;
  position: absolute;
  opacity: 0.7;
  background: url("../img/radioOff.svg") no-repeat;
  cursor: pointer;
}
.radio-label {
  padding-left: 30px;

}
.radio-input:checked + .radio-button {
  background: url("../img/radioOn.svg") no-repeat;
}

.filler  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 703px;
  height: 37px;
  padding: 0 10px;
  font-weight: 500;
}
.check {
  cursor: pointer;
}
.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-label {
  padding-left: 30px;
  margin-right: 16px;
}
.check-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: -2px;
  padding: 2px;
  opacity: 0.7;
  background: url("../img/checkboxOff.svg") no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.check-input:checked + .check-box {
  background: url("../img/checkboxOn.svg") no-repeat;
}
.check-box:hover,
.check-box:checked:hover,
.radio-button:hover,
.radio-button:checked:hover {
  opacity: 1;
}
.check-box:disabled,
.radio-button:disabled {
  opacity: 0.4;
}
.filter-button{

  width: 144px;
  height: 37px;
  font-weight: 500;
  color: #fff;
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #fff;
  color: #323232;
  font-weight: 500;
}
.filter-button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.wrapper-area {
  display: flex;
  flex-wrap: wrap;
  min-height: 220px;
  margin-bottom: 40px;
}

.blog-new {
  background:#fff url("../img/strawberry-bg.jpg") no-repeat;
  width: 560px;
  border-radius: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-right: 29px;
}

.blog-new .title {
  color: #323232;
  font-size: 15px;
  padding-top: 15px;

}
.blog-new a {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  text-decoration: underline;
}
.blog-new a:hover{
  color: #ffbc9e;
}

.subscribe {
  background-image: url("../img/subscribe-bg.svg");
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  width: 560px;
  padding-top: 20px;
  padding-left: 27px;
}

.subscribe::before {
  content: "";
  background-color: #f8f7f4;
  border-radius: 10px;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 549px;
  min-height: 211px;
}
.subscribe p {
  width: 500px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  position: absolute;
}
.subscribe-form {
  display: flex;
  position: absolute;
  top: 70%;
  min-height: 44px;
  width: 368px;
}

.subscribe-button {
  min-width: 129px;
  height: 44px;
  font-weight: bold;
}
.subscribe-email {
  min-width: 368px;
  height: 44px;
  margin-right: 11px;
  color: #999;
  padding-left: 12px;
  line-height: 44px;
}

.cart-full {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 25px;
  width: 540px;
  min-height: 240px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 13px;
  color: #323232;
}
.checkout-goods-name a{
  color: #323232;
}
.checkout-goods-name:hover {
  text-decoration: underline;
}


.checkout {
  padding: 15px 0;
  position: relative;

}
.checkout-goods {
  height: 50px;
}
.checkout-goods-img {
  width: 33px;
  height: 33px;
}
.checkout-img-radius {
  border-radius: 33px;
}

.checkout-goods-delete {
  width: 33px;
  height: 33px;
  text-align: center;
}
.goods-reset-button {
  width: 11px;
  height: 11px;
  margin: 0 auto;
  background: url("../img/reset.svg") no-repeat;
  cursor: pointer;
}
.checkout-goods-name {
  width: 220px;
  padding: 0 10px;
}
.checkout-goods-quantity {
  width: 100px;
  padding: 0 10px;
}
.checkout-goods-amount {
  padding: 0 10px;
}
.line {
  width: 510px;
  margin-left: 15px;
  height: 1px;
  background: #cacac7;
}

.checkout-total-amount {
  font-size: 15px;
  font-weight: bold;
  color: #323232;
  padding: 12px 20px;
  float: right;
}
.checkout-button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 170px;
  height: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 44px;
}

.goods-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.goods-item {
  width: 267px;
  height: 360px;
  position: relative;
}
.goods-item  img {
  position: relative;
  z-index: -5;
}

.price {
  position: absolute;
  top: 160px;
  font-size: 45px;
  line-height:45px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.bestsellers .goods-item{
  margin-left: -40px;
  padding-right: 50px;
}
.bestsellers .goods-item::before {
  content: "";
  background: url("../img/hits.svg") no-repeat;
  position: absolute;
  z-index: 3;
  width: 61px;
  height: 61px;
}
.goods-link {
  padding-bottom: 5px;
}
.goods-item span {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}
.goods-item a {
  display: block;
  position: relative;
  z-index: 5;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);

}
.goods-item a:hover{
  color: #ffbc9e
}

.round {
  border-radius: 267px;
}
.items-name {
  border: none;
}
.goods-item:hover:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.goods-item .quick-view {
  display: none;
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  vertical-align: center;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 10px auto;
}
.goods-item:hover >.quick-view {
  display: block;
  color: #fff;
}

.pagination-list{
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 55px;
}
.pagination-list a {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;

}
.pagination-list a:hover {
  border-radius: 50%;
  background-color: #fff;
  color: #323232;
}
.pagination-list a:active {
  opacity: 0.2;
  color: #000;
}
.prev-pages {
  transform: rotate(180deg);
}
.pagination-list .disabled {
  opacity: 0.3;
}.pagination-list .disabled:hover {
   background-color: #849d8f;
 }

.main-content +.title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-left: 30px;
  margin-top: -10px;
}
.slider-list {
  min-height: 523px;
  margin: -80px 0 0 0;
  padding: 0;
}
.slider-item {
    list-style: none;
}
.slick-list {
  overflow: hidden;
}
.slick-track{
   display: flex;

}
.slick-dots{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    top: 580px;
    left: -35px;

}
.slick-dots li{
  margin-right: 8px;
}
 .slick-dots button{
    font-size: 0;
    width: 21px;
    height: 21px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #849d8f;
    cursor: pointer;
 }
 .slick-active button{
  background-color: #fff;
}
.slick-dots button:hover{
  opacity: 0.4;
}
.slick-dots button:active{
  background-color: #fff;
  opacity: 1;
}
.slider {
  position: relative;
}
.slider-text {
 width: 670px;
  margin: -550px auto 400px auto;
  text-align: center;
}

.slider-button {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #fff;
  line-height: 64px;
  width: 280px;
  height: 64px;
  border-radius: 40px;
}
.slider-item .title {
  display: block;
  margin-bottom:  35px;
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  font-weight: bold;

}
.contacts {
  position: relative;
  margin-bottom: 10px;
}
.map {
  width: 1200px;
  margin-left: -27px;
}

.adress {
  width: 302px;
  min-height: 305px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  left: 71%;
  top: 15%;
  padding-left: 25px;
  color: #323232;
}

.adress .title{
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 15px;
  padding-right: 129px;
}
.adress span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.adress p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

 .adress a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
  }
.adress a:hover{
  color: #ffbc9e
}
.feedback-button {
  width: 252px;
  height: 44px;
  font-weight: bold;
  color: #fff;
}
.pagination-list + .line {
  width: 1146px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 18px;
}

/*Footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -240px;
  z-index: 15;
  width: 478px;
  height: 443px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.user-name-field,
.feedback .email-field {
  width: 267px;
  height: 44px;
  margin-left: 24px;
}

.mesagge-area {
  width: 428px;
  height: 155px;
  background-color: #fff;
  color: #999999;
  margin: 0 24px;
  padding-top: 10px;

}
.close-button {
  content: "";
  background: url("../img/close.svg") no-repeat;
  width: 18px;
  height: 17px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.modal .title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
  line-height: 24px;
  padding-left: 24px;
}

.modal-button{
  width: 139px;
  height: 44px;
  position: absolute;
  vertical-align: middle;
  right: 25px;
  bottom: 25px;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}




.developer {
  font-size: 12px;
  line-height: 18px;
  text-align:left;
  color: #fefefe;
  padding-right: 50px;
}
.developer a:last-child{
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.developer a:hover{
  color: #ffbc9e
}
.developer + img {
  border: none;
}

.socials-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.socials-item a{
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.twitter {
  background: url("../img/twitter.svg") no-repeat 3px 3px;
  opacity: 0.8;
}
.instagram {
  background: url("../img/insta.svg") no-repeat 3px 3px;
  opacity: 0.8;
}
.facebook {
  background: url("../img/facebook.svg") no-repeat 3px 3px;
  opacity: 0.8;
}
.vkontakte {
  background:  url("../img/vk.svg") no-repeat 3px 3px;
  opacity: 0.8;
}
.twitter:hover,
.instagram:hover,
.facebook:hover,
.vkontakte:hover {
  opacity: 1;
}
.twitter:active,
.instagram:active,
.facebook:active,
.vkontakte:active {
  opacity: 0.5;
}
.company-info-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 320px;
  padding: 0;
}
.company-info-item a{
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.company-info-item a:hover{
  color: #ffbc9e
}

.company-info-item{
  min-width: 141px;
  position: relative;
}
.company-info-item:first-child:before {
  content: "";
  background: url("../img/heart.svg") no-repeat;
  position: absolute;
  top: 4px;
  left: -21px;
  width: 15px;
  height: 13px;
}
.company-info-item:first-child{
  font-weight: bold;
}
